<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Project">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Biblioteka</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_for_filter_search.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
</head>

<body>
    {% include 'components/navbar.html' %}


    <h2 class="available_books">Biblioteka | Galerija knjiga</h2>

    <table id="tabela-knjige">
        <tr>
            <th>Naziv knjige ili časopisa</th>
            <th>Zanr knjige</th>
            <th>Autor</th>
            <th>Povez/Korice</th>
            <th>Link do knjige</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[-1] }}</td>
            <td>{{ book[4] }}</td>
            <td><a href="books/{{ book[0] }}">Link</a></td>
        </tr>
        {% endfor %}
    </table>

    <h3 class="available_books">Ukoliko je knjiga koju želite dostupna u našoj biblioteci možete ispuniti formu i <a
            href="borrow_book.html" class="go_to_borrow">pozajmiti
            knjigu</a> do određenih rokova ili je <span class="style_txt">preuzeti u PDF formatu</span> (ako je
        dostupna).
    </h3>

    <a href="/books/add" class="button_add">Dodaj knjigu!</a>

    {% include 'components/footer.html' %}

</body>

</html>