<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Project">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Biblioteka</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_for_filter_search.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
</head>

<body>
    {% include 'components/navbar.html' %}


    <h2 class="available_books">Biblioteka | Galerija knjiga</h2>

    <table id="tabela-knjige">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Knjiga</th>
            <th>Preuzeta</th>
            <th>Treba biti vracena</th>
            {% if session['user_type'] == 2 %}
            <th>Link</th>
            {% endif %}
        </tr>
        {% for reservation in reservations %}
        <tr>
            <td>{{reservation[1]}}</td>
            <td>{{reservation[2]}}</td>
            <td>{{reservation[3]}}</td>
            <td>{{reservation[4]}}</td>
            <td>{{reservation[5]}}</td>
            {% if session['user_type'] == 2 %}
            <td><a href="/reservations/delete/{{reservation[0]}}">vrati knjigu</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <h3 class="available_books">Ukoliko je knjiga koju želite dostupna u našoj biblioteci možete ispuniti formu i <a
            href="reservations/add" class="go_to_borrow">pozajmiti
            knjigu</a> do određenih rokova ili je <span class="style_txt">preuzeti u PDF formatu</span> (ako je
        dostupna).
    </h3>
    {% include 'components/footer.html' %}

</body>

</html>