<div class="header">
    <a href="/" class="logo"><img src="{{url_for('static', filename='img/logo.jpg')}}" class="logo_header"
            alt="Error"></a>
    <div class="header-right">
        <a class="active" href="/">Početna</a>
        <a href="library.html">Biblioteka</a>
        <a href="borrow_book.html">Pozajmi</a>
        <a href="return_book.html">Vrati</a>
        <a href="/contact">Kontakt</a>
        {% if session.get("is_logged") != True %}
        <a href="/login">Prijavi se</a>
        {% else %}
        <a href="/logout">Odjavi se</a>
        {% endif %}
    </div>
</div>